:root{
    --primary-color:#f4e6c1;
}

body{
    background-color: #002939;
}
h1{
    text-align: center;
    color: var(--primary-color);
}
a{
    display: block;
    text-align: center;
    color: var(--primary-color);
}
p{
    color: #d6b0a7;
}